.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
}

.label {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
}

button {
  max-width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}

input:focus-within {
  border-color: blue;
}
